# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Maven@3
      inputs:
        mavenPomFile: 'pom.xml'
        goals: 'clean install -Dnative -s settings.xml' # Activates the native profile
        javaHomeOption: 'JDKVersion'
        jdkVersionOption: '21' # Or your required JDK version
        mavenVersionOption: 'Default'
    - task: Docker@2
      displayName: Build an image
      inputs:
        command: build
        dockerfile: 'src/main/docker/Dockerfile.native'
        tags: |
          $(tag)
